@{Layout = "_Layout";}
<br><br>
<br><br>
<form action="/stylists/@Model.GetStylist().GetId()/clients" method="post">
  <label for="client-name">New client: </label><br>
  <input type="text" name="client-name" id="client-name" placeholder="ENTER CLIENT NAME"><br>

  <button type="submit">Submit</button>
</form>
