@{Layout = "_Layout";}
<br><br>
<br><br>
<form action="/Stylists" method="post">
  <label for="stylist-name">New stylist: </label><br>
  <input type="text" name="stylist-name" id="stylist-name" placeholder="ENTER STYLIST NAME"><br>

  <button type="submit">Submit</button>
</form>
