@{Layout="_Layout";}
<br><br>
<br><br>
<p>Here are all clients assigned to @Model.GetStylist().GetName():</p>
<p>----------------------------------------</p>
<ul>
  @if(Model.GetClients() != null && Model.GetClients().Count != 0)
  {
    foreach(var a in Model.GetClients())
    { <li> @a.GetName() : @a.GetId() <a href="/stylists/@Model.GetStylist().GetId()/clients/@a.GetId()/Update">[*]</a></li> }
  }
</ul>
<p>----------------------------------------</p>
<br>
<p>*click next to a client's name to update their information</p>
<br>
<br>
<br>
<p>Click <a href="/stylists/@Model.GetStylist().GetId()/clients/newClient">HERE</a> to add a client to the list.</p> <br>
<p>Click <a href="/stylists/@Model.GetStylist().GetId()/clients/DEL">HERE</a> to remove a client from the list.</p> <br>
